/* buttonStyle.css */
#global-nav > div > nav > ul .extension_button {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

#global-nav > div > nav > ul .extension_button img {
  width: 40px !important;
  height: 40px !important;
}
