/* Styles for the extension button */
.extension_button {
  margin-top: 6px;
  display: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

/* Styles for the icon container */
.extension_button .icon_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for the icon within the button */
.extension_button img {
  width: 23px;
  height: 23px;
}

/* Styles for the text underneath the icon */
.extension_button span {
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: #666666;
}

/* Hover effect for the icon */
.extension_button:hover img {
  /* Specify the path to your hover icon in the CSS */
  content: url('/PoliTalk/Images/PoliTalkHover.png');
}

.extension_button:hover span {
  color: #191919;
}

/* Styles for the line under the icon */
.extension_button .underline {
  display: block;  /* Always display, but initially with width 0 */
  width: 0;  /* Start width */
  height: 2px;  /* Thickness of the line */
  background-color: #000;  /* Color of the line */
  position: absolute;
  bottom: -5px;  /* Position it below the icon */
  left: 50%;
  transform: translateX(-50%); /* Center the line */
  transition: width 0.2s ease;
  margin-bottom: -1px; /* Animate the width */
}

/* Class to show the line */
.extension_button.show-line .underline {
  width: 75px;  /* Full width when shown */
}

/* Styles for the popup */
.politalk_popup {
  position: fixed; /* Keeps the popup in place during scrolling */
  display: flex;
  z-index: 1001;
  width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  /* Remove top and left properties here, will set them dynamically */
}

/* Initially hide the popup */
.politalk_popup {
  display: none;
  /* ... other styling ... */
}

/* Show the popup when this class is added */
.show-popup {
  display: block;
}

.politalk_popup h2 {
  font-size: 18px; /* Slightly larger font size for more prominence */
  color: #333; /* A dark shade for high contrast */
  font-weight: 540; /* Bold font weight for eye-catching emphasis */
  margin-bottom: 20px; /* More space below the title */
  text-align: center; /* Center alignment for the title */
  font-family: 'Arial', sans-serif; /* Clean and simple font */
  line-height: 1.3; /* Adjusted line height for better visual balance */
  padding: 0 10px; /* Padding to ensure text doesn't touch the edges */
}


.politalk_popup .card {
  background-color: #f9f9f9;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
}

.politalk_popup .card .profile-image {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  border-radius: 50%; /* Circular image */
  margin-bottom: 10px;
}

.politalk_popup .card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.politalk_popup .card p {
  font-size: 14px;
  color: #666;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; 
}

/* Common styles for both arrows */
.politalk_popup .arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* Specific styles for the left arrow */
.politalk_popup .arrow.left {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
/* Specific styles for the right arrow */
.politalk_popup .arrow.right {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.contact-button {
  position: relative;
  padding: 5px 10px;
  border: 1px solid #333;
  background-color: #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 100%; /* Full width of the card */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-top: 10px; /* Space above the buttons */
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 4px;
  font-size: 12px; /* Adjusted font size */
  position: absolute;
  width: 100%; /* Match width to the contact button */
  top: 95%; /* Position it at the bottom of the contact button */
}


.show-dropdown {
  display: block;
}

.dropdown-option {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option:hover {
  background-color: #ddd;
}


.clear-div {
  clear: both;
  height: 0;
  visibility: hidden;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
