/* popup.css */

#loading-section, #content {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.logo-container {
  margin: 0 auto;
  width: fit-content;
}

.extension-logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.popup-container {
  display: block;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
  color: #666666;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

/* Logout Button Styling */
#logout-button {
  position: absolute;  /* Absolute positioning */
  left: 10px;          /* Distance from the left */
  bottom: 10px;        /* Distance from the bottom */
  padding: 5px 10px;   /* Padding for the button */
  background-color: #f44336; /* Red background color for logout button */
  color: white;        /* White text */
  border: none;        /* No border */
  border-radius: 4px;  /* Rounded corners */
  cursor: pointer;     /* Cursor changes to pointer on hover */
  font-size: 14px;     /* Font size */
}

#logout-button:hover {
  background-color: #d32f2f; /* Slightly darker shade on hover */
}

.popup-container h2 {
  overflow: hidden; /* Hides overflow */
  text-overflow: ellipsis; /* Adds an ellipsis if text overflows */
  max-width: 100%;
  font-size: 16px; /* Smaller font size for a more subtle look */
  color: #555; /* Retaining the softer color appearance */
  margin-bottom: 80px; /* Adjusted margin for spacing */
  font-weight: normal; /* Keeping it less bold */
  font-style: italic; /* Retaining the italic style */
  text-shadow: 1px 1px 1px #ddd; /* Keeping the depth effect */
}

#google-login-btn {
  white-space: nowrap;
  display: flex; /* Ensures inline alignment of items */
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the content */
  background-color: #dfdede; /* Light grey background */
  color: #333; /* Darker text color for contrast */
  padding: 10px 12px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none; /* Removes underline from text */
  margin-bottom: 20px;
}

#google-login-btn:hover {
  background-color: #c9c9c9; /* Slightly darker shade on hover */
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Space between logo and text */
}

.user-profile-image {
  border-radius: 50%;  /* Circular shape */
  width: 30px;        /* Fixed width */
  position: absolute; /* Absolute positioning */
  bottom: 10px;       /* Distance from the bottom */
  right: 10px;        /* Distance from the right */
}

/* Responsive Styling */
@media (max-width: 400px) {
  .popup-container {
    width: 100%;
  }
}
