body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.topbar {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.logo img {
    width: 120px;
    height: 70px;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    cursor: pointer;
}